<!--begin::Actions-->
<div class="d-flex align-items-center gap-3 gap-lg-5">
	<!--begin::Secondary button-->
	<div class="m-0">
		<!--begin::Menu-->
		<a href="#" class="btn btn-flex btn-sm h-35px h-md-40px btn-light fw-bold px-6" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
			History
		</a>
<!--layout-partial:partials/menus/_menu-1.html-->
		<!--end::Menu-->
	</div>
	<!--end::Secondary button-->
	<!--begin::Primary button-->
	<a href="#" class="btn btn-flex btn-center bg-gray-600 btn-color-white h-35px h-md-40px btn-active-dark btn-sm px-6"  data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
		<i class="ki-duotone ki-plus-square fs-2 p-0 m-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>		<span class="ms-2">Invite</span>
	</a>
	<!--end::Primary button-->
</div>
<!--end::Actions-->