.table-responsive {
    min-height: 800px
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #f2f2f2;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #f9f9f9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#kt_datatable_filter {
    display: none !important;
}

.dataTables_empty {
    display: none
}

.dt-buttons {
    display: none !important;
}

#kt_datatable_paginate {
    float: right;
}

.select2-container .select2-selection--multiple
.select2-selection__choice {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    padding: 1px 17px;
}

.help-block {
    color: red;
}
.page-item.disabled .page-link{
    background: #c7c4c3 !important
}
.page-item .page-link{
    background: #6eaf26 !important;
    color: #fff;
}
.pagination .page-item {
    /* background: #6eaf26; */
    border-radius: 5px
}
.pagination .page-item:hover{
    border-radius: 5px;
    color: #fff !important;
}
.page-item .page-link{
    color: #fff !important;

}
.page-link:hover{
    border-radius: 5px !important

}
.stepper-nav {
    height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Add a scrollbar when content exceeds height */
}
.toast.toast-danger {
    background-color: #dc3545;
    color: #fff;
}
.select2-container .select2-selection--single{
    height: 40px !important;
}
